*{
    margin:0;
    padding:0;
    border:0;
    font-family: Montserrat, Helvetica, sans-serif;
}


/*DESKTOP*/

@media screen and (min-width:1200px){


    body{
        display: grid;
        grid-template-columns: 95% 5%;
        grid-template-rows: 10% 90%;
    }

    /*DESKTOP HEADER*/

    header{
        display: flex;
        justify-content: flex-end;
        width:1100px;
        margin: 2em auto;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start:1;
        grid-row-end:2;

    }

    header a{
        display: block;
        padding: 0 10px ;
        font-size:1.2em;
        color:black;
        text-transform: uppercase;
        text-decoration: none;
    }

    header a:hover{
        text-decoration: underline;
    }

    /*DESKTOP MAIN*/

    main{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:2;
        width:100%;
        margin: auto;
   
    }

    #portfolio_heading{
        margin-top: 2em;
        text-align: center;
    }

    #portfolio_heading h5{
        font-size: 1.3em;
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 2em;
    }

    #portfolio_heading h1:before,
    #portfolio_heading h1:after
    {
        content: '';
        border:2px solid rgb(29, 29, 29);
        display: block;
        max-width:1150px;
        margin: auto;
    }

    #portfolio_heading h1{
        font-size: 7em;
        text-transform: uppercase;
        font-weight: 400;
    }

        /*DESKTOP PROJECT*/

        #projects{

            max-width:1100px;
            margin: 2em auto;
            display: grid;
            grid-template-columns: repeat(3, 33.3%);
            grid-template-rows: repeat(4, 22.5%);
            height: 60vh;
            grid-gap: 20px;
        }

        #projects > div{
            width: 100%;

        }

        #mood{
            grid-row-start: 1;
            grid-row-end: 5;
            background-image: linear-gradient(rgba(37, 34, 34, 0.5), rgba(28, 17, 17, 0.5)), url('./media/moodApp.jpg');
            background-position: center;
            background-size: cover;
            cursor: pointer;
            transition: 1s;
            display: flex;
            align-items: flex-end;
            
        }

        #mood a,
        #to-do a,
        #travel a,
        #food-order a,
        #weather a
        {
            color:white;
            text-transform: uppercase;
            margin: 2em 1em;
        }

        #mood:hover,
        #to-do:hover,
        #travel:hover,
        #food-order:hover,
        #weather:hover
        {
            transition: 0.5s;
            transform: scale(1.02);
            text-decoration: underline;
        }


        #to-do{
 
            background-image: linear-gradient(rgba(37, 34, 34, 0.5), rgba(28, 17, 17, 0.5)), url('./media/to-do.jpg');
            grid-row-start: 1;
            grid-row-end: 3;
            background-position: center;
            background-size: cover;
            cursor: pointer;
            transition: 1s;
            display: flex;
            align-items: flex-end;
        }

        #travel{
       
            background-image: linear-gradient(rgba(37, 34, 34, 0.5), rgba(28, 17, 17, 0.5)), url('./media/travel.jpg');
            grid-row-start: 3;
            grid-row-end: 5;
            background-position: center;
            background-size: cover;
            cursor: pointer;
            transition: 1s;
            display: flex;
            align-items: flex-end;
        }

        
        #food-order{
           
            background-image: linear-gradient(rgba(37, 34, 34, 0.5), rgba(28, 17, 17, 0.5)), url('./media/foodOrder.jpg');
            grid-row-start: 1;
            grid-row-end: 2;
            background-position: center;
            background-size: cover;
            cursor: pointer;
            transition: 1s;
            display: flex;
            align-items: flex-end;
        }

        #weather{
          
            background-image: linear-gradient(rgba(37, 34, 34, 0.5), rgba(28, 17, 17, 0.5)), url('./media/weather.jpg');
            grid-row-start: 2;
            grid-row-end: 5;
            background-position: center;
            background-size: cover;
            cursor: pointer;
            transition: 1s;
            display: flex;
            align-items: flex-end;
        }

        /*DESKTOP FOOTER*/



        footer i{
            font-size:36px;
            display: block;
            margin: 0.5em auto 0;
            width:90%;
            text-align: center;
            cursor: pointer;
            transition: 1s;
        }

        footer a{
            color: black;
        }

        
        footer i:hover{

            transition: 1s;
            transform: scale(1.2);
        }
        footer{

            grid-column-start: 2;
            grid-row-start:2;
            max-width:60px;
            flex-wrap: wrap;
            max-height: 60vh;
            align-self: center;
            position: relative;
        }

        footer:before{
            content: '';
            width: 0;
            height: 200px;
            position: absolute;
            bottom:100%;
            margin: 1em auto;
            left: 0;
            right: 0;
            border: 2px solid black;
        }
        footer:after
        {
            content: '';
            width: 0;
            height: 200px;
            position: absolute;
            top:100%;
            margin: 1em auto;
            left: 0;
            right: 0;
            border: 2px solid black;
            
    
        }



}

/*TABLET*/

@media screen and (max-width:1199px){


    body{
        display: grid;
        grid-template-columns: 95% 5%;
        grid-template-rows: 10% 90%;
    }

    /*TABLET HEADER*/

    header{
        display: flex;
        justify-content: flex-end;
        width:1100px;
        margin: 2em auto;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start:1;
        grid-row-end:2;

    }

    header a{
        display: block;
        padding: 0 10px ;
        font-size:1.2em;
        color:black;
        text-transform: uppercase;
        text-decoration: none;
    }

    header a:hover{
        text-decoration: underline;
    }

    /*TABLET MAIN*/

    main{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:2;
        width:100%;
        margin: auto;
   
    }

    #portfolio_heading{
        margin-top: 2em;
        text-align: center;
    }

    #portfolio_heading h5{
        font-size: 1.3em;
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 2em;
    }

    #portfolio_heading h1:before,
    #portfolio_heading h1:after
    {
        content: '';
        border:2px solid rgb(29, 29, 29);
        display: block;
        max-width:1150px;
        margin: auto;
    }

    #portfolio_heading h1{
        font-size: 7em;
        text-transform: uppercase;
        font-weight: 400;
    }

        /*TABLET PROJECT*/

        #projects{

            max-width:1100px;
            margin: 2em auto;
            display: grid;
            grid-template-columns: repeat(3, 33.3%);
            grid-template-rows: repeat(4, 22.5%);
            height: 60vh;
            grid-gap: 20px;
        }

        #projects > div{
            width: 100%;

        }

        #mood{
            grid-row-start: 1;
            grid-row-end: 5;
            background-image: linear-gradient(rgba(37, 34, 34, 0.5), rgba(28, 17, 17, 0.5)), url('./media/moodApp.jpg');
            background-position: center;
            background-size: cover;
            cursor: pointer;
            transition: 1s;
            display: flex;
            align-items: flex-end;
            
        }

        #mood a,
        #to-do a,
        #travel a,
        #food-order a,
        #weather a
        {
            color:white;
            text-transform: uppercase;
            margin: 2em 1em;
        }

        #mood:hover,
        #to-do:hover,
        #travel:hover,
        #food-order:hover,
        #weather:hover
        {
            transition: 0.5s;
            transform: scale(1.02);
            text-decoration: underline;
        }


        #to-do{
 
            background-image: linear-gradient(rgba(37, 34, 34, 0.5), rgba(28, 17, 17, 0.5)), url('./media/to-do.jpg');
            grid-row-start: 1;
            grid-row-end: 3;
            background-position: center;
            background-size: cover;
            cursor: pointer;
            transition: 1s;
            display: flex;
            align-items: flex-end;
        }

        #travel{
       
            background-image: linear-gradient(rgba(37, 34, 34, 0.5), rgba(28, 17, 17, 0.5)), url('./media/travel.jpg');
            grid-row-start: 3;
            grid-row-end: 5;
            background-position: center;
            background-size: cover;
            cursor: pointer;
            transition: 1s;
            display: flex;
            align-items: flex-end;
        }

        
        #food-order{
           
            background-image: linear-gradient(rgba(37, 34, 34, 0.5), rgba(28, 17, 17, 0.5)), url('./media/foodOrder.jpg');
            grid-row-start: 1;
            grid-row-end: 2;
            background-position: center;
            background-size: cover;
            cursor: pointer;
            transition: 1s;
            display: flex;
            align-items: flex-end;
        }

        #weather{
          
            background-image: linear-gradient(rgba(37, 34, 34, 0.5), rgba(28, 17, 17, 0.5)), url('./media/weather.jpg');
            grid-row-start: 2;
            grid-row-end: 5;
            background-position: center;
            background-size: cover;
            cursor: pointer;
            transition: 1s;
            display: flex;
            align-items: flex-end;
        }

        /*TABLET FOOTER*/

        footer i{
            font-size:36px;
            display: block;
            margin: 0.5em auto 0;
            width:90%;
            text-align: center;
            cursor: pointer;

        }

        footer{

            grid-column-start: 2;
            grid-row-start:2;
            max-width:60px;
            flex-wrap: wrap;
            max-height: 60vh;
            align-self: center;
            position: relative;
        }

        footer:before{
            content: '';
            width: 0;
            height: 200px;
            position: absolute;
            bottom:100%;
            margin: 2em auto;
            left: 0;
            right: 0;
            border: 2px solid black;
        }
        footer:after
        {
            content: '';
            width: 0;
            height: 200px;
            position: absolute;
            top:100%;
            margin: 2em auto;
            left: 0;
            right: 0;
            border: 2px solid black;
            
    
        }



}